<section class="hero card fade-up">
    <h1 class="title">R9MDE</h1>
    <h1 class="title">Constantin Nosov</h1>
</section>

<section class="card fade-up">
    <h2>О станции: </h2>
    <p><strong>QTH:</strong> Russia, Omsk, MO64OW</p>
    <p><strong>Режимы работы:</strong> HF / VHF / UHF / FT-8</p>
    <p><strong>Оборудование:</strong> Yaesu FT-891, Yaesu FT-2800M, USDX</p>
</section>

<section class="card fade-up">
    <h1>Связь со мной:</h1>
    <h2>Email: constantinnosov@yandex.ru</h2>
</section>

<section class="card fade-up">
    <div class="gallery">
        <img src="static/img/QSL1.jpg" alt="QSL card">

    </div>
</section>

<section class="card fade-up qsl">
    <h2>QSL / 73</h2>

    <p>
        Спасибо за посещение моей страницы,
        73 и удачных DX-связей!
    </p>
</section>